body {
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
    display: grid;
    grid-area: sidebar;
    background-color: rgb(0, 142, 225);
    padding: 40px 40px 0px;
    grid-template-rows: 0.5fr 6fr;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.sidebar-icon {
    display: flex;
    gap: 15px;
    
}

.sidebar-icon p {
    list-style-type: none;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.sidebar-main {
    display: grid;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.sidebar-icon img {
    height: 25px;
    width: 25px;
}

.line-break {
    height: 1px;
    background-color: aliceblue;
    margin: 20px;
    padding: 1.5px;
}

/* #upper {
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: row;
}

#lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.logo {
   display: flex;
}

.header {
    display: grid;
    grid-area: header;
}

.main {
    display: grid;
    grid-area: main;
}

button {
    display: grid;
    grid-auto-flow: column;
}

.main-content {
    background-color: rgb(217, 225, 232);
    display: grid;
    grid-area: main;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );

}
.card {
    height: 200px;
    background-color: white;
    padding: 0px 2ch;
    border-left: 8px solid rgb(196, 180, 2);
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0px 2px 5px rgb(210, 209, 209);
}

.card img {
    width: 25px;
    height: 25px;
}

.card .project-name {
    font-weight: bold;
}

.announcement-card {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.trending-card {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}