.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
    display: grid;
    grid-area: sidebar;
}

.header {
    display: grid;
    grid-area: header;
}

.main {
    display: grid;
    grid-area: main;
}

button {
    display: grid;
    grid-auto-flow: column;
}