body {
    font-family: helvetica, sans-serif;
    margin: 0;
    display: block;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template: max-content calc(100vh) / max-content minmax(600px, 1fr);
}

/* Header Section */
.search-bar {
    height: 25px;
    width: 25px;
}

.header input {
    border-radius: 8px;
    border-color: aliceblue;
    background-color: aliceblue;
    width: 100%;
    height: 25px;
}

.header-profile-pic {
    height: 50px;
    border-radius: 20px
}

.header {
    background-color: white;
    padding: 20px;
    margin: 0 20px 0;
    display: grid;
    grid-area: 1 / 2 / 2 / 4;;
}

.header-upper-section {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
}

.upper-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.upper-right { 
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.header-lower-section {
    display: grid;
    grid-template-columns: 75px 1fr 300px;
    align-items: center;
    margin-top: 40px;
}

button {
    background-color: rgb(0, 142, 225);
    color: white;
    width: 70px;
    border-radius: 20px;
    font-size: 14px;
}

.header-buttons {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 30px;
}

/* Sidebar Section */
.sidebar {
    display: grid;
    grid-area: 1 / 1 / 4 / 2;
    background-color: rgb(0, 142, 225);
    padding: 40px 40px 0px;
    grid-template-rows: 0.5fr 6fr;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.sidebar-icon {
    display: flex;
    gap: 15px;
}

.sidebar-icon p:hover {
    color: black;
    cursor: pointer;
}

.sidebar-icon p {
    list-style-type: none;
    color: white;
    font-weight: bold;
}

.sidebar-main {
    display: grid;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.sidebar-icon img {
    height: 25px;
    width: 25px;
}

.sidebar-line-break {
    height: 1px;
    background-color: aliceblue;
    margin: 20px;
    padding: 1.5px;
}

.logo {
   display: flex;
}

/* Main Content Section */
.main-content {
    background-color: rgb(217, 225, 232);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: 2 / 2 / 4 / 4;
}
.card {
    background-color: white;
    padding: 20px;
    border-left: 8px solid rgb(225, 195, 1);
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0px 2px 5px rgb(210, 209, 209);
    transition: all 0.5s;
}

.card:hover {
    border-color: rgb(0, 142, 225);
    transform: scale(1.02);
    cursor: pointer;
}

.card img {
    width: 25px;
    height: 25px;
}

.card .project-name {
    font-weight:600 ;
    font-size: 15px;
}

.card .project-description {
    font-size: 13px;
    color: rgb(63, 63, 63);
}

.card-section {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
}


.card-icons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.card-section-title {
grid-column: 1 / -1;
}

/* Announcement Section */
.announcement-card {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.announcement {
    font-weight:600 ;
    font-size: 12px;
}

.announcement-description {
    font-size: 10px;
    color: rgb(63, 63, 63);
}

.announcement-section {
    display: grid;
    grid-column: 2 / 3;
    grid-area: 2 / 2 / 3 / 3;
} 


/* Trending Section */
.trending-card {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.trending-card img {
    height: 35px;
    border-radius: 20px
}

.trending-card p {
    font-size: 13px;
}

.trending-section {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 200px;
}


